<h1><%= @category.name %></h1>

<%= link_to 'Back to Categories', categories_path %>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
    </li>
  <% end %>
</ul>
