<h1>About us </h1>
<p> This is the First link from where i took data of the devices :<br>https://fakestoreapi.com/products</p><br>
<p> This is the second link from where i took data of the devices :<br>https://freetestapi.com/api/v1/mobiles</p>